<template>
  <form action="">
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Let's drive</p>
      </header>
      <section class="modal-card-body">
            <b-field label="from">
        <b-select
            v-model="departureOption"
            class="select-has-min-width-200">
            <option
                v-for="option in destinationOptions"
                :value="option.id"
                :key="option.id">
                {{ option.name }}
            </option>
        </b-select>
    </b-field>

    <b-field label="to">
        <b-select
            v-model="arrivalOption"
            class="select-has-min-width-200">
            <option
                v-for="option in destinationOptions"
                :value="option.id"
                :key="option.id">
                {{ option.name }}
            </option>
        </b-select>
    </b-field>

    <b-field label="in">
        <b-select
            v-model="timeOption"
            class="select-has-min-width-200">
            <option
                v-for="option in timeOptions"
                :value="option.id"
                :key="option.id">
                {{ option.name }}
            </option>
        </b-select>
    </b-field>

    <b-field label="passenger count">
        <b-input class="has-max-width-200" type="number" v-model="seating"></b-input>
    </b-field>
      </section>
      <footer class="modal-card-foot justify-content-flex-end">
          <button class="button" type="button" @click="$parent.close()">Close</button>
          <button class="button is-primary">
            Go
          </button>
      </footer>
    </div>
  </form>
</template>

<script>
export default {
  name: 'driver-form',

  props: [
    'departureOption',
    'arrivalOption',
    'destinationOptions',
    'timeOption',
    'timeOptions',
    'seating'
  ],

  methods: {
    submit () {
      var data = {
        drive_type_id: 10,
        departure_id: this.departureOption,
        arrival_id: this.arrivalOption,
        minutes_to_start: this.timeOption,
        seating: this.seating
      }
      this.$store.dispatch('driveId', data)

      this.$router.push({ name: 'driver-list' })
    },
    onCancel () {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>