<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',

  created () {
    this.me()
  },

  methods: {
    me () {
      this.$store.dispatch('me')
    }
  }
}
</script>