<template>
  <div class="container">
    <h1 class="is-size-1 has-padding-bottom-16 has-text-centered">Driving</h1>

    <iframe width="100%" height="350px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=Bolzano,+39100+BZ&destination=39018+Terlano+BZ&waypoints=via:Settequerce,+39018+BZ|via:Vilpiano,+39018+BZ|via:Terlan,+39018+BZ&key=AIzaSyCNEXunIfz8lpWPQSUZn-0G18nQkCcc020&zoom=11" allowfullscreen=false></iframe>
    
    <div class="has-padding-bottom-16">
    <div class="card" v-for="user in this.users">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img :src="user.image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{user.name}}</p>
          </div>
        </div>
        <!-- <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div> -->
      </div>
    </div>
    </div>
 </div>
</template>

<script>
export default {
  name: 'driver-match',

  data: () => ({
    passengers: [
      {},
      {},
      {},
      {}
    ]
  })
}
</script>