<template>
  <div class="container">
    <div>
      <button class="button is-primary is-inverted is-outlined image is-48x48 is-pulled-right">
        <img v-if="this.me" class="img-circle" src="https://randomuser.me/api/portraits/lego/6.jpg" :alt="this.me.name" :title="this.me.name">
      </button>
    </div>
    <h1 class="is-size-1 has-padding-bottom-16 has-text-centered">InstaCar</h1>
    <h2 class="subtitle has-text-centered">A sustainable daily commute</h2>

    <section class="section">
      <div class="has-text-centered">
        <button class="button is-primary is-square-200"
          @click="isDriverModalActive = true">
          <b-icon class="is-large" icon="directions_car"></b-icon>
        </button>
        <button class="button is-large is-info is-square-200"
          @click="isPassengerModalActive = true">
          <b-icon class="is-large" icon="transfer_within_a_station"></b-icon>
        </button>
      </div>

      <b-modal :active.sync="isDriverModalActive" has-modal-card width=640>
        <driver-form v-bind="formProps"></driver-form>
      </b-modal>

      <b-modal :active.sync="isPassengerModalActive" has-modal-card width=640>
        <passenger-form v-bind="formProps"></passenger-form>
      </b-modal>

      <form v-if="!this.localStoreUserId" @submit.prevent="addUser">
        <section>
          <b-field label="userId">
              <b-input class="has-max-width-200" type="number" v-model="userId"></b-input>
          </b-field>
          <button class="button is-primary">
            Login
          </button>
        </section>
      </form>
    </section>
    
 </div>
</template>

<script>
import DriverForm from './../components/DriverForm'
import PassengerForm from './../components/PassengerForm'
import { mapGetters } from 'vuex'

export default {
  name: 'home',
  data () {
    return {
      localStoreUserId: localStorage.getItem('user_id'),
      userId: 1,
      isDriverModalActive: false,
      isPassengerModalActive: false
    }
  },

  computed: {
    ...mapGetters([
      'me'
    ]),
    formProps: function () {
      if (this.me) {
        return {
          departureOption: this.me.addresses[0].id,
          arrivalOption: this.me.addresses[1].id,
          destinationOptions: this.me.addresses,
          timeOption: 10,
          timeOptions: [
            {id: 10, name: '10min'},
            {id: 20, name: '20min'},
            {id: 30, name: '30min'},
            {id: 60, name: '1h'},
            {id: 120, name: '2h'},
            {id: 180, name: '3h'}
          ],
          seating: 2
        }
      }
    }
  },

  methods: {
    addUser () {
      localStorage.setItem('user_id', this.userId)
      window.location.reload()
    }
  },

  components: {
    DriverForm,
    PassengerForm
  }
}
</script>