<template>
  <div class="container">
    <h1 class="is-size-1 has-padding-bottom-16 has-text-centered">Find a driver</h1>
    <h2 v-if="this.drive" class="subtitle">{{this.drive.departure.label}} ({{this.drive.departure.city}}) - {{this.drive.arrival.label}} ({{this.drive.arrival.city}})</h2>
  
    <div class="has-padding-bottom-16">
    <div class="card" v-for="match in this.matches" :key="match.id">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img :src="match.image">
            </figure>
          </div>
          <div class="media-content">
            <button v-if="!match.passengerChecked" v-on:click="request(match.driver.user)" class="button is-primary is-inverted is-outlined is-pulled-right is-large">
              <b-icon class="is-large is-primary" icon="done"></b-icon>
            </button>
            <span v-else class="is-pulled-right">
              <p class="has-text-danger">Requested</p>
            </span>
            <p class="title is-4">{{match.driver.user.name}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    {{hasMatched}}
 </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  name: 'passenger-list',

  created () {
    this.fetchData()
  },

  computed: {
    ...mapGetters([
      'drive',
      'matches'
    ]),
    hasMatched: function () {
      console.log(this.matches)
      this.matches.forEach((match) => {
        if (match.passengerChecked && match.driverChecked) {
          this.go()
        }
      })
    }
  },

  methods: {
    async fetchData () {
      const payload = await axios.get('/drive')
      this.$store.dispatch('drive', payload.data.data)
      this.$store.dispatch('matches')
    },
    async request (user) {
      const data = await axios.post('/seat', {userId: user.id})
      this.$store.dispatch('updateMatch', {userId: user.id, data: data.data.data, type: 'driver'})
      // this.$router.push({ name: 'passenger-match' })
    },
    go () {
      this.$router.push({ name: 'passenger-match' })
    }
  }
}
</script>