.has-padding-bottom-16 {
    padding-bottom: 16px;
}

.has-max-width-200 {
    max-width: 250px;
}

.select-has-min-width-200 select {
    min-width: 250px;
}

.has-padding-left-right-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.is-square-200 {
    width: 230px;
    height: 230px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.img-circle {
    border-radius: 50%;
}

html, body {
    background-color: $white;
}