//$orange: #ff9800;

$primary: #00BD9D;
$primary-invert: findColorInvert($primary);
$info: #49C6E5;
$info-invert: findColorInvert($info);
$white: #f7faf9;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);


$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;